<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cari Kuliner Apps</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Pattaya&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Open+Sans&family=Lobster&display=swap" rel="stylesheet" type="text/css">
</head>

<body>
    <a href="#artikel" class="skip-link">Menuju ke konten</a>
    <header>
        <div class="head-inner">
            <h1 class="head-title" tabindex="0">Cari Kuliner</h1>
        </div>
        <button id="menu" class="head-menu">☰</button>
    </header>

    <nav id="drawer" class="nav">
        <ul class="nav-list">
            <li class="nav-title">
                <h1 class="head-title">Cari Kuliner</h1>
            </li>
            <li class="nav-item"><a href="/">Home</a></li>
            <li class="nav-item"><a href="#">Favorit</a></li>
            <li class="nav-item"><a href="https://github.com/ariffaturahman" target="_blank">About Us</a></li>
        </ul>
    </nav>

    <div class="jumbotron" role="img" aria-label="Foto Kuliner" tabindex="0">
        <div class="jumbo-inner">
            <h1 class="jumbo-title" tabindex="0">Tempat Mencari Destinasi Wisata Kuliner</h1>
            <p class="jumbo-tagline" tabindex="0">Website terlengkap dalam menentukan destinasi kuliner untuk keluarga</p>
        </div>
    </div>
    <main>
        <section class="content">
            <div>
                <h1 class="content-tittle" tabindex="0">Daftar Cafe & Resto</h1>
                <div class="posts" id="artikel">
                </div>
            </div>
        </section>
    </main>
    <footer tabindex="0">
        <h2>Copyright © 2021 - Cari Kuliner</h2>
    </footer>
</body>

</html>